<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Breaking Bad</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarSupportedContent">
        <button (click) = "getData()" class="btn btn-info"> Get Data </button>
    </div>
  </nav>
<br>
<div class="row row-cols-1 row-cols-md-4">
<div class="flip-card" *ngFor="let singleData of charactersData">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="{{singleData.img}}" alt="{{singleData.name}}" style="width:300px;height:300px;">
      </div>
      <div class="flip-card-back">
        <h1>{{singleData.name}}</h1> 
        <p>{{singleData.nickname}}</p> 
        <p>{{singleData.birthday}}</p>
      </div>
    </div>
</div>
</div>